
      <div>

        <p>
          Product
        </p>
        <script>function getServerData(data) { window.__SERVER_DATA__ = data; }</script>
        <script src="/api/server-data.json?callback=getServerData&pid=2"></script>        
          <script>
  
              window.addEventListener('load', pros);
              function pros() {
              var productJson = __SERVER_DATA__["jsonObject"]["detail"];
              productJson.forEach(element => {
                var imgLink = element["link"];
                var pname = element["name"];
                document.getElementById("body").innerHTML += "<th>" + pname + "</th> <img width='200' height='200' src=" + imgLink + "><img>";
              });
              
            }
            
            </script>  
      </div>
      
