<!DOCTYPE html>
<html>

<head>
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="styles.css" />
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
</head>

<body>
  <h2>SHOP</h2>
  <ul>
    <!-- Tempory, to be replaced by navbar  -->
    <li><a href="home.html">Home</a></li>
    <li><a href="cart.html">Cart</a></li>
    <a href = "order.html" class="complete-purchase" type="button" id="order-button">PURCHASE</a>
  </ul>

  <section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>
















  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyBXC-zH_VU7hjRYuRoA-DoizGN8ndGIJ8M",
      authDomain: "ecommerce-ca57f.firebaseapp.com",
      databaseURL: "https://ecommerce-ca57f-default-rtdb.europe-west1.firebasedatabase.app",
      projectId: "ecommerce-ca57f",
      storageBucket: "ecommerce-ca57f.appspot.com",
      messagingSenderId: "450193218046",
      appId: "1:450193218046:web:ed740c91c94096998288af",
      measurementId: "G-SV0VSC22KY"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION);

  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="/js/cart.js"></script>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



</html>