<!DOCTYPE html>
<html>

<head>
  <link rel='icon' href='favicon.ico' type='image/x-icon' />
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>

  <title>Shopping Cart</title>
</head>

<body>
  <h2>SHOP</h2>
  <ul>
    <!-- Tempory, to be replaced by navbar  -->
    <li><a href="home.html">Home</a></li>
    <li><a href="cart.html">Cart</a></li>
    <button onclick="order()" class="complete-purchase" type="button" id="order-button">PURCHASE</button>
  </ul>

  

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyBXC-zH_VU7hjRYuRoA-DoizGN8ndGIJ8M",
      authDomain: "ecommerce-ca57f.firebaseapp.com",
      databaseURL: "https://ecommerce-ca57f-default-rtdb.europe-west1.firebasedatabase.app",
      projectId: "ecommerce-ca57f",
      storageBucket: "ecommerce-ca57f.appspot.com",
      messagingSenderId: "450193218046",
      appId: "1:450193218046:web:ed740c91c94096998288af",
      measurementId: "G-SV0VSC22KY"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION);

  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="/js/cart.js"></script>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  function order() {

    firebase.auth().onAuthStateChanged(user => {
    if (user) {
      console.log(firebase.auth().currentUser.email);
      var queryurl = "/api/order?&email=" + firebase.auth().currentUser.email;
      
      axios.put(queryurl).then(
          (response) => {
            var result = response.data;
            console.log('Processing Request');
            window.location.href = "/html/orderSuccess.html"
          },
          (error) => {
            reject(error);
          }
        );

    }
    else {
      console.log("no user");
    }
    });

  };

</script>


</html>