<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Account</title>
        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
            
                
                <!-- STYLE CSS -->


        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-storage.js"></script>

    </head>

    <body>
        <div class="wrapper">
            
            <div class="inner">

                <form action="">
                    <h3>Forgot Password?</h3>
                    <div class="form-group">
                        <p style="text-align: justify;">
                            Please enter your email address below. An email will be sent to recover your account!
                        </p>
                    </div>

                    <div class="form-wrapper">
                        <input id="email"  type="email" placeholder="Email Address" class="form-control">
                        <i class="zmdi zmdi-email"></i>
                    </div>
          
                    <div class="form-group container-login100-form-btn">
                        <button id="btn-resetPassword" type="button">
                            Reset Password
                            <i class="zmdi zmdi-arrow-right"></i>
                        </button>
                    </div>                   
        
                </form>
            </div>
        </div>

        <script>
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            var firebaseConfig = {
              apiKey: "AIzaSyBXC-zH_VU7hjRYuRoA-DoizGN8ndGIJ8M",
              authDomain: "ecommerce-ca57f.firebaseapp.com",
              databaseURL: "https://ecommerce-ca57f-default-rtdb.europe-west1.firebasedatabase.app",
              projectId: "ecommerce-ca57f",
              storageBucket: "ecommerce-ca57f.appspot.com",
              messagingSenderId: "450193218046",
              appId: "1:450193218046:web:ed740c91c94096998288af",
              measurementId: "G-SV0VSC22KY"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION);
          </script>

        
        <script src="/js/forgetPass.js"></script>
        <script>
          firebase.auth().onAuthStateChanged(function(user)
          {
              if(user)
              {
                window.location.href = "home.html";
              }
          });
        </script>
    </body>
</html>
