
      <html>
        <body id="root">
        <p>
          Product Page:
        </p>
      </body>
      <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
      <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

          <script>

            const url = window.location.search; 
            const pid = new URLSearchParams(url).get('pid');
            var purl = "/api/server-data.json?pid="+pid;

            fetch(purl).then((response)=>{  return response.json();  // converting byte data to json
            }).then(data=>{

            var product = data["jsonObject"]["detail"][0];
            var imgLink = product["link"];
            var pname = product["name"];
            var info = product["info"];
            var price = product["price"];
            document.getElementById("root").innerHTML += "<th>" + pname + "</th> <p>" + info + "</p><img width='200' height='200' src=" + imgLink + "><img> <p> Price: " + price + "</p>";
            });
            </script>  
            <form id=add>
              <button class="add-to-cart" id="add-to-cart">ADD TO CART</button>
            </form>
            <li class="cart">
              <a href="html/cart.html">
                 Cart
              </a>
          </li>
          <script src = "/js/cart.js"> </script>
      </html>
      
